/* цвет основного текста #212121 */
/* вторичній текст #757575*/
/* белій #FFFFFF*/
/* акцент #2196F3 */
/* цвет второй кнопки #F5F4FA*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --button-color: #F5F4FA;
    --logo-color: #000000;
    --primary-bg-color: #2F303A;
    --social-text-color: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC; 
    --primary-button-focus: #188ce8;
}
body {background-color: var(--primary-white-color);
    color: var(--primary-text-color) ;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
 
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.logo {
    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    text-decoration: none;
}
.logo-footer {
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    text-decoration: none;
}
.logo:hover {
    color: var(--accent-color);
}

.logo-footer:hover {
    color: var(--accent-color);
}
.accent {
    color: var(--accent-color);
}
/* page header */
.page-header {
    margin-bottom: 0;
    Border-bottom: 1px solid #ECECEC;

}

/* main nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

/* site nav */
.page-navigation {
    display: flex;
    align-items: center;
    
}
.site-nav {
    display: flex;
    margin-left: 93px;

}

.contacts {
    display: flex;
    margin-left: auto;
    
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts .link.social {
    color: var(--title-text-color);

}
.icon-mail {
    fill: currentColor;
    margin-right: 10px;
}

.icon-tel {
    fill: currentColor;
    margin-right: 10px;
}

.link.social {
    display: flex;
    align-items: center;
}

.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

.contacts .link:focus,
.contacts .link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.contacts .link.current {
    color: var(--accent-color);
}

/* hero */
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/bgImg.jpg);
    background-position: center;
    background-size: cover;
    background-color: var(--primary-bg-color);

}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
       
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* section */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.section.about {
    padding-top: 0;
}

/* features */
.features-list {
    display: flex;
    gap: 30px;
}

.features-list .item {
    flex-basis: calc((100% - 90px)/4);
        
}
.icon-features {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;

}

.features-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-list .text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;
}
.heading {
    display: flex;
    gap: 30px;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

/* team */
.card {
    margin-bottom: 0;
    background-color: var(--primary-white-color);
}

.section-container {
    background-color: var(--button-color);
}
.team-list {
    display: flex;
    gap: 30px;

}
.team-list .title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .text {
    margin-bottom: 30px;
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .card {
    flex-basis: calc((100% - 90px)/4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social-list {
    display: flex;
    
    border: none;
    margin: 0;
    justify-content: center;
 
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #AFB1B8;
}   

.social-link:hover,
.social-link:focus {
    border-radius: 50%;
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
    color: var(--primary-white-color);
}

.client-list {
    display: flex;
    gap: 30px;
}

.link-icon {
    fill:#AFB1B8;
}

.link-company {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.icon-company {
    flex-basis: calc((100% - 150px)/6);
 
}

.link-company:focus,
.link-company:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    fill: var(--accent-color);
}
.link-company:focus .link-icon,
.link-company:hover .link-icon {
    fill: var(--accent-color);
}

.employees {
    padding-top: 30px;
    padding-bottom: 30px;
}
.employees .title {
    margin-top: 0;
    margin-bottom: 10px;
}
.employees .text {
    margin-top: 0;
    margin-bottom: 16px;
}

/* Examples */
.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.work-list a {
    display: block;
}
.work-list .title {
    margin-bottom: 4px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
}

.work-list .text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
}
.work-card {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.work-list .card {
    flex-basis: calc((100% - 60px)/3);
}
.work-list a:hover,
.work-list a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.work-list>.card:nth-last-child(-n+3) {
    margin-bottom: 0;
}
/* Footer */
.footer {
    display: flex;
    padding-top: 60px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 60px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--primary-bg-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}
.address-footer {
    display: block;
    width: 231px;
}

.social-footer {
    margin-top: 12px;
    margin-left: 70px;
}

.address-list {
    display: inline-block;
    margin-top: 20px;   
}

.address-list .link {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address-list .link.social {
    color: var(--social-text-color);
}

.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-color)
}

.address-list .item:not(:last-child) {
    margin-bottom: 9px;
}
.social.title {
    height: 16px;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer .social-list {
    display: flex;
    width: 206px;
    height: 44px; 
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 16px;
    padding: 0;
    justify-content: space-between; 
}

.social:not(:last-child) {
    margin-right: 10px;
}

.footer .social-link {
    display: flex;
    width: 44px;
    height: 44px;
    
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
}

.footer .social-icon {
    display: flex;
}

.footer .social-link:hover,
.footer .social-link:focus {
    border-radius: 50%;
    background-color: var(--accent-color);
    
}
 
/* Button */
.button {
    display: inline-block;
    border-radius: 4px;
    
    padding: 10px 32px;
    min-width: 152px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
}

.button-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.button-nav .item:not(:last-child) {
    margin-right: 8px;
}
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    min-width: auto;
    font-weight: 500;
    color: var(--primary-text-color);
    background-color: var(--button-color);
}

.contacts .link:focus,
.contacts .link:hover {
    color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
   color: var(--primary-white-color); 
   background-color: var(--primary-button-focus);
}
.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
